.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,
body {
  height: 100%;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 8px;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-style: italic;
  color: #000787;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 20px;
}

input,
textarea {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #084e90;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

li {
  background-color: white;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
}

li div {
  position: relative;
}

li div button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
}

li div button:hover,
li div button:focus {
  box-shadow: 0 0 1px black;
}

li h2 {
  background-color: rgb(136, 219, 244);
  margin: 0;
  padding: 4px;
  font-size: 1.2rem;
  color: #333;
}

li p {
  margin: 8px;
  font-size: 1rem;
  color: #666;
  background-color: rgb(196, 234, 246);
  padding: 4px;
}
